$text-black: #000404;
$bg-color: #c4c4c4;
$text-font: 'Montserrat', sans-serif;
$bezier: 0.6s cubic-bezier(.19,1,.22,1);
$highlight-color: #ff2e00;


.dashboard-nav {
    padding-top: 5x;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 5vw;
    background-color: $text-black;
    padding-block: 10px;

    .user-nav-div {    
        display: flex;
        align-items: center;
        gap: 20px;
        div {
            font-weight: 600;
            color: $bg-color;
            transition: $bezier;
            // display: none;
        }
        button {
            justify-self: flex-start;
            color: $bg-color;
            font-family: "Montserrat", sans-serif;
            font-size: 18px;
            font-weight: 400;
            scale: 1 0.9;
            background-color: transparent;
            border-radius: 100vw;
            border: 2px solid $bg-color;
            cursor: pointer;
            padding: 10px;
            padding-inline: 20px;
            text-transform: capitalize;
            margin-block: 10px;
        }
    }
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dashboard-hero {
    padding-inline: 5vw;
    height: auto;
    padding-top: 10vh;
    min-height: calc(100vh - 83px - 40.8px);
    h2 {
        font-size: 25px;
        font-weight: 600;
        border-bottom: 2px solid #908f8f;
        width: 60%;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 60px;
        width: 60%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 500px){
    .dashboard-nav {
        padding-top: 20px;
        display: grid;
        
        .user-nav-div {
            margin-top: 20px;
            display: grid;
            gap: 0px;
            div {
                font-size: 16px;
                font-weight: 500;
            }
            button {
                padding: 5px;
                width: 90vw;
                border: 1px solid $bg-color;
            }
        }
    }
    .dashboard-hero {
        height: auto;
        min-height: calc(100vh - 162px - 50px);
    
        h2 {
            width: 100%;
            font-size: 20px;
        }
        h1 {
            font-size: 40px;
            width: 100%;
        }
    }
}